.cyc-partner-kanban .o_kanban_renderer.o_kanban_ungrouped .o_kanban_record:not(.o_legacy_kanban) {
    flex-grow: 1;
    width: 32%;
}

.cyc-kanban-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 16px; 
}

.cyc-kanban-container .o_kanban_view {
    padding: 16px;
}
